# 百度地图 API Key，从 https://lbsyun.baidu.com/ 申请
VITE_BAIDU_MAP_AK=ja...

VITE_OIDC_AUTHORITY=https://auth.developbranch.cn/realms/default
VITE_OIDC_CLIENT_ID=default-web
VITE_OIDC_SCOPE='openid profile email'
